@import 'variables';
@import 'mixins';

@function adjust-color($color, $amount) {
    @return mix(black, $color, $amount);
}

.work-box {
    display: block;
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px 20px;
    background-color: $secondary-color;
    border-radius: 10px;
    box-shadow: 0 2px 10px adjust-color(black, 0.2);

    .work-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        padding: 3px;

        .box-name {
            font-size: 2.5rem;
            color: #333333;
        }

        .button-body {
            @include button-styles($button-bg-color, $header-text-color);
          }
    }

    .gallery {
        margin-top: 20px;
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: space-around;
        align-items: center;
        height: auto;

        .gallery-photo {
            width: 32%;
            height: auto;
            max-width: 100%; // Ensures images do not exceed their container
            object-fit: cover; // Maintains image aspect ratio
        }
    }

/* Адаптивність для мобільних пристроїв */
@media (max-width: 768px) {

    .gallery {
        margin-top: 20px;
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: space-between;
        align-items: center;
        height: auto;

        .gallery-photo {
            width: 49%;
            height: auto;
        }
    }

    .box-name {
        font-size: 2rem; /* Зменшуємо розмір заголовка */
    }

    .button-body {
        font-size: 0.9rem; /* Зменшуємо шрифт кнопки */
    }
}

@media (max-width: 576px) {
    .gallery {
        margin-top: 20px;
        display: flex;
        flex-flow: column nowrap;
        align-content: space-between;
        justify-content: space-between;
        align-items: center;
        height: auto;
        
        .gallery-photo {
            width: 100%;
            height: auto;
            .gallery-photo {
                width: 100%;
                max-width: 100%; // Ensures images stay within container on smallest screens
            }
        }
    }

    .box-name {
        font-size: 1.8rem; /* Зменшуємо розмір заголовка */
    }

    .button-body {
        font-size: 0.8rem; /* Зменшуємо шрифт кнопки */
    }
}
}
