- const basePathlike = '../../../../content/img/heart-icon.svg'
- const basePathlogo = '../../../../content/img/logo1.png'

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block index-title
    link(rel="stylesheet", href="../../../css/grid/grid-3/main.css")
  body
    include ../../header.pug
    include main-grid-3.pug