@import 'variables';

.contact-section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px 10px;
    text-align: center;

    h3 {
        font-size: 2rem;
        color: #333333;
        margin-bottom: 20px;
    }

    .button-body {
        @include button-styles($button-bg-color, $header-text-color);
        width: 50%;
    }
}