@import 'variables';
@import 'mixins';

.offers-box{
    width: 70%;
    padding: 30px;
    background-color: #333;
    color: white;
    margin: 10px auto;

    .offers-box {
        .box-name{
        margin-bottom: 10px;
        color: white;
        }
    }

    .offers-box-in {
        display: flex;
        flex-flow: row;
        margin-top: 30px;
        justify-content: space-around;
        align-content: space-between;

        .offer {
            background-color: #444;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.21);
            display: flex;
            width: 14%;
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            padding: 30px;

            img {
                width: 50%;
                height: auto;
                padding: 7px;
                border-radius: 50%;
            }
            .offer-name {
                margin: 10px 0;
                font-size: 24px;
                font-weight: bold;
            }
            .offer-description {
                font-weight: 100;
            }
        }
    }

    
@media (max-width:768px){
    
    .offers-box-in {
        height: 110vw;
        display: flex;
        flex-flow: row wrap;
        margin-top: 30px;
        justify-content: space-around;
        align-content: space-between;

        .offer {
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.21);
            display: flex;
            width: 33%;
            height: 45vw;
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;
            padding: 30px;
        }
    }
}

@media (max-width:576px){
    .offers-box-in {
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        margin-top: 30px;
        align-items: center;
        align-content: space-between;

        .offer {
            background-color: #444;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
            display: flex;
            width: 80%;
            height: auto;
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;
            padding: 2vw;
            margin-bottom: 10px;

            img {
                width: 25%;
                height: auto;
                padding: 7px;
                border-radius: 50%;
            }

            
            p {
                margin-bottom: 10px;
            }
        }
    }

}
}