$font-stack: 'Times New Roman', Times, serif;
$background-color: #333;
$text-color: white;
$header-height: 70px;
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
$primary-color: #444;
$secondary-color: #ffffff;
$border-radius: 5px;
$main-background-color: #999;


$header-bg-color: #333;
$header-text-color: white;
$header-button-bg-color: transparent;
$header-button-hover-bg-color: white;
$header-button-hover-text-color: #333;
$like-button-bg-color: red;
$burger-button-width: 35px;
$burger-button-height: 30px;
$burger-line-height: 4px;
$burger-line-color: white;
$button-bg-color: #333;