- cantainer_of_items = [ { class: 'header', text: 'Header' },{ class: 'nav', text: 'Nav' },{ class: 'article', text: 'Article' },{ class: 'ads', text: 'Ads' },{ class: 'footer', text: 'Footer' }]

main
  .container
    each item in cantainer_of_items
      div(class=item.class) #{item.text}