* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    background-color: rgb(255, 165, 0);
    width: 500px;
    padding: 20px;
    color: white;
}

h1 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}


.ul_first_level {
    padding: 0;
}

.ul_first_level > li {
    background-color: rgb(103, 158, 128);
    margin-bottom: 10px;
    background-image: url("../icons/rule.svg");
    background-repeat: no-repeat;
    background-size: 45px 45px;
    padding-left: 45px;
}

.ul_second_level {
    font-size: 18px;
    font-style: italic;
    padding: 0;
}
.ul_second_level > li {
    margin-bottom: 10px;
    background-color: rgb(153, 180, 102);
    background-repeat: no-repeat;
    background-size: 45px 45px;
    margin-right: 20px;
    padding-left: 45px;
}

span {
    padding: 10px 20px;
    display: inline-block;
}
.ul_first_level > li > span {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(199, 124, 106);
    margin-bottom: 10px;
}
.ul_second_level > li > span {
    background-color:  rgb(218, 106, 32);

}


span {
    padding: 10px, 20px;
    display: inline-block;
}

.ul_first_level > span {
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(199, 124, 106);
    margin-bottom: 10px;

}

.ul_second_level > span {
    background-color:  rgb(218, 106, 32);
    font-weight: 400;
}




.ad_units_svg {
    background-image: url("../icons/ad_units.svg");
}
.airplane_ticket_svg {
    background-image: url("../icons/airplane_ticket.svg");
}
.hotel_svg {
    background-image: url("../icons/hotel.svg");
}
.car_rental_svg {
    background-image: url("../icons/car_rental.svg");
}
.local_bar_svg {
    background-image: url("../icons/local_bar.svg");
}
.casino_svg {
    background-image: url("../icons/casino.svg");
}
.museum_svg {
    background-image: url("../icons/museum.svg");
}
.festival_svg {
    background-image: url("../icons/festival.svg");
}