
html, body { margin: 0; padding: 0; height: 100%; }

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

header{
    position: sticky;
    top: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: #530f53;
    border-radius: 0 0 40px 40px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 3px 5px 2px;
    width: 100%;
}

.logo{
    display: inline-block;
    padding: 15px;
}

.logo > img {
    width: 80px;
}

.header_ul {
    float: right;
    list-style: none;
    margin-left: auto;
}

.header_ul > li {
    margin-right: 25px;
    float: left;
}

.header_ul > li > a{
    display: inline-block;
    padding: 20px;
    background-color: #851985;

    color: #09c1f9;
    text-decoration: none;
    cursor: pointer; 
    font-size: larger;
}




main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 1140px;
    margin: 100px 50px;
    display: inline-block;
    text-align: justify;
    position: relative;
}
/* 
main div {
    padding: 20px;
    margin-top: 30px;
} */

.column {
    column-count: 3;
    column-gap: 35px;
    column-rule: 5px dashed red;
    column-width: 100px;
}

main img.right {
    width: 200px;
    float: right;
    margin: 20px;
}

main img.left {
    width: 200px;
    float: left;
    margin: 20px;
}
