html, body { margin: 0; padding: 0; height: 100%; }

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    background-color: #530f53;
    border-radius: 0 0 40px 40px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 3px 5px 2px;
    width: 100%;
}

.logo{
    display: inline-block;
    padding: 15px;
}

.logo > img {
    width: 80px;
}

.header_ul {
    float: right;
    list-style: none;
    margin-left: auto;
}

.header_ul > li {
    margin-right: 25px;
    float: left;
}

.header_ul > li > a{
    display: inline-block;
    padding: 20px;
    background-color: #851985;

    color: #09c1f9;
    text-decoration: none;
    cursor: pointer; 
    font-size: larger;
}

.main_part {
    align-items: center;
}

.main_part > img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

.header-div {
    width: 100%;
}





main {
    padding: 35px;
    text-align: center;
}

.wrapper {
    position: relative;
    display: inline-block;
    width: 620px;
    margin: 0 auto;
    height: 300px;
}

.wrapper-block {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 300px;
}

.wrapper-1 {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 20%;
    top: 80%;
    background-color: #09c1f9;
    margin-left: 1%;
}

.wrapper-2 {
    display: inline-block;
    position: relative;
    visibility: hidden;
    width: 100%;
    height: 50%;
    background-color: #530f53;
    color: whitesmoke;
    margin-bottom: 2%;
    margin-left: 1%;
}
.wrapper-1:hover ~ .wrapper-2{
    visibility: visible;
}

