.journal-section
  h2.section-title From the Journal
  p.section-intro Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat incidunt nobis quas.
  .articles-wrapper
    - newsimg = 'img/logo.png'
    - arr = [ { date: 'Oct 12, 2024', title: 'Lorem ipsum.', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid consequuntur earum nemo veniam? Suscipit!', img: 'img1.png' },{ date: 'Oct 13, 2024', title: 'Lorem ipsum.', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid consequuntur earum nemo veniam? Suscipit!', img: 'img2.png' }, { date: 'Oct 14, 2024', title: 'Lorem ipsum dolor.', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid consequuntur earum nemo veniam? Suscipit!', img: 'img3.png' }, { date: 'Oct 15, 2024', title: 'Lorem ipsum.', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid consequuntur earum nemo veniam? Suscipit!', img: 'img4.png' }]
    each article in arr
      .article
        img.article-image(src=`../../../../content/${newsimg}`, alt="News Image")
        .article-content
          p.article-date= article.date + ' | News'
          h3.article-title= article.title
          p.article-summary= article.description