footer
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, rerum.
  .img-wrapper
    each imgsvg in ['img/telegram.svg', 'img/instagram.svg', 'img/github.svg', 'img/linkedin.svg', 'img/youtube.svg']
      img.social-media(src=`../../content/${imgsvg}`, alt="")