.work-box
  .work-head
    h2.box-name Our awesome works
    button.button-body Filter portfolio
  .gallery
    each img in ['img/photo-1.png', 'img/photo-2.png', 'img/photo-3.png', 'img/photo-4.png', 'img/photo-5.png', 'img/photo-6.png', 'img/photo-7.png', 'img/photo-8.png', 'img/photo-9.png']
        img.gallery-photo(src=`../../content/${img}`, alt="")
